:root{
    --inputHeight: 270px;
    --inputWidth: 300px;
    --inputBorder-radius: 21px;
}
body{
    user-select: none;
    background-image: url('../assets/space-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Space', sans-serif;
    color:white;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Dashhorizon.otf') format('opentype');
}
@font-face{
    font-family: 'container';
    src: url('../assets/fonts/MegatransdemoRegular.otf') format('opentype');
}
.title{
    position:fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left: calc(50%);
    translate: -50%;
    font-size: 11rem;
    height: fit-content;
    text-align: center;
    text-shadow: 0px 10px 50px #000000;
}
.container{
    font-family: 'container', sans-serif;
    position:fixed;
    top: calc(50% - 5rem);
    right:0;
    display:flex;
    flex-direction: column;
    text-align: right;
    gap: 2rem;
}
.create,.join{
    padding: 1rem 1rem 1rem 10rem;
    background: linear-gradient(to right, transparent, black);    
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 30%, white 100%);
    border-image-slice: 1;
}
.container div {
    display: inline-block; /* Ensures that the div elements are treated as inline blocks */
}
.create, .join{
    
    text-decoration: none;
    color: white;
    font-size: 2em;
    text-shadow: 0px 10px 50px #000000;
    cursor: pointer; /* Change to "pointer" to indicate it's clickable */
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
    -webkit-touch-callout: none;
}
.create:hover, .join:hover{
    color: #00ff00c3;
    /* transform: scale(1.1); */
    font-size: 2.1em;
}
.inputGameID{
    position:fixed;
    width: var(--inputWidth);
    height: var(--inputHeight);
    top: calc(50% - var(--inputHeight)/2);
    left: calc(50% - var(--inputWidth)/2);
    display:flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.326);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px #000000;
    display:none;
}
.inputGameID input{
    font-size: 2em;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid;
    border-radius: var(--inputBorder-radius);
    background: transparent;
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
    text-shadow: 0px 10px 50px #000000;
    border-color: rgba(255, 255, 255, 0.326);
    outline: none;
}
.inputGameID button{
    font-size: 1.5em;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2.5rem;
    border: 1px solid;
    border-radius: var(--inputBorder-radius);
    border-color: rgba(255, 255, 255, 0.326);
    background-color:rgba(72, 72, 72, 0.637);
    color: rgba(255, 255, 255, 0.568);
    text-align: center;
    text-shadow: 0px 10px 50px #000000;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}
.inputGameID button:hover{
    background-color:rgba(72, 72, 72, 0.8);
    
    color: white
}
.inputGameID button:active{
    background-color:rgba(72, 72, 72, 0.5);
}
