/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
}
Canvas{
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}
#crosshair{
  height: 3vh;
  transform: translate(-50%)
}
:root{
  --heightOuterHealthBar_: 0.75rem;
  --widthOuterHealthBar_: 400px;
  --bottomOuterHealthBar_: 15rem;
  --innerBorderRadius_: 10px;
  --outerBorderRadius_: calc(var(--innerBorderRadius_) + 0.1rem);
  --heightInnerHealthBar_: calc(var(--heightOuterHealthBar_) - 0.10rem);
  --widthInnerHealthBar_: calc(var(--widthOuterHealthBar_) - 0.16rem);
}
.enemy-outerHealthBar{
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: var(--outerBorderRadius_);
  /* border-radius:calc(var(--heightOuterHealthBar)/4); */
  width: var(--widthOuterHealthBar_);
  height: var(--heightOuterHealthBar_);
  z-index: 100;
  position:fixed;
  bottom: var(--bottomOuterHealthBar_);
  left: 50%;
  transform: translate(-50%, 0%);
}
.enemy-innerHealthBar{
  border-radius: var(--innerBorderRadius_);
  /* border-radius:calc(var(--heightOuterHealthBar)/4); */
  position:fixed;
  z-index: 100;
  /* background-color: rgb(56, 142, 255); */
  background: linear-gradient(to right, rgba(251, 255, 0, 0.639), rgba(138, 143, 0, 0.696)) !important;
  width: var(--widthInnerHealthBar_);
  height: var(--heightInnerHealthBar_);
  bottom: calc(var(--bottomOuterHealthBar_) + 0.04rem);
  left:50%;
  transform: translate(-50%, 0%);
}
.enemyHealthBarWrapper{
  position:fixed;
  z-index: 100;
  height: var(--heightOuterHealthBar_);
  width: var(--widthOuterHealthBar_);
}